<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674482500876-kb5nooam1ib5f7g5j2frhu6g3tgfmatp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674482500876-kb5nooam1ib5f7g5j2frhu6g3tgfmatp</string>
	<key>API_KEY</key>
	<string>AIzaSyAZW3VR0kAo8bjpJjcv0mT1nkFvZWMJgU0</string>
	<key>GCM_SENDER_ID</key>
	<string>674482500876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orderofthecone.menu-app</string>
	<key>PROJECT_ID</key>
	<string>ucsc-menu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ucsc-menu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674482500876:ios:3f3d379eaa2e426b61c529</string>
	<key>DATABASE_URL</key>
	<string>https://ucsc-menu-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>